@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

fem-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

fem-toolbar {
  z-index: 200;
}

mat-sidenav {
  width: 300px;
  background-color: #eceff1 !important;
  border-right: solid 1px rgba(0,0,0,.12);

  .logo {
    margin: 0 auto;

    img {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
      height: auto;
    }
  }
}

mat-card {
  border-radius: 0px !important;
}

.mat-sidenav-container {
  background: #f5f5f5;
  flex: 1;
}

.mat-list-item {
  mat-icon {
    font-size: 28px;
    margin-right: 15px;
  }
}

.nav-link {
  &.mat-button {
    border-radius: 0px !important;
  }

  span {
    margin: 5px 0;
    font-size: 18px;
  }

  display: flex !important;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-link:hover {
  color: #fff;
}

.nav-link.active {
  color: #fff;
}

.container {
  flex: 1 1 100%;
  padding: 20px;
}

.home-container {
  margin: 10px;

  mat-card {
    margin-bottom: 10px;
  }
}

.component-container {
  margin: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;

  .list-component {
    width: 49%;
  }

  .details-component {
    width: 49%;

    mat-form-field {
      width: 100%;
    }

    mat-card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

mat-list-item:not(:first-of-type) {
  border-top: 1px solid #efefef;
}

mat-form-field {
  width: 100%;
}

mat-list-item:hover {
  cursor: pointer;
  background: whitesmoke;
}

mat-list-item:not(:first-of-type) {
  border-top: 1px solid #efefef;
}

mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 900;

  > .mat-mini-fab {
    margin-right: 10px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .title {
    vertical-align: middle;
    margin-left: 10px;
  }
}

.flex {
  display: flex !important;

  &--column {
    @extend .flex;
    flex-direction: column;
  }
}

.justify-content-between {
  @extend .flex;
  justify-content: space-between;
}

.clickable {
  cursor: pointer;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-ellipses {
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-wrap {
  white-space: nowrap;
}
