<fem-toolbar
  (logout)="logout()"
  (toggleSidenav)="toggleSidenav()">
</fem-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="false" mode="side" class="app-sidenav">
    <ng-container>
      <span class="logo">
        <a [routerLink]="'/'">
          <img src="assets/logo.png" alt="Logo" />
        </a>
      </span>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <mat-list-item
          *ngFor="let link of links"
          [routerLink]="link.path"
          routerLinkActive="active"
        >
          <mat-icon matListIcon>{{ link.icon }}</mat-icon>
          {{ link.title | uppercase }}
        </mat-list-item>
      </mat-nav-list>
    </ng-container>
  </mat-sidenav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
